*{
    font-family: 'Trebuchet MS';
}
body{
    /* background-color: rgb(187, 31, 31); */
    background-image: url('https://www.chromethemer.com/download/hd-wallpapers/nepal-3840x2160.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#search{
    width: 600px;
    margin: 0  auto;
    margin-top:30px;
    color: rgb(38, 84, 175);

}

#add-flex{
    justify-content: space-evenly !important;
}

#head-text{
    display: inline-block !important;
}

